# DataFrames in Pandas

## Introduction to DataFrames

DataFrames adalah struktur data tabular dua dimensi yang powerful di Pandas. DataFrames mirip dengan tabel dalam spreadsheet atau database. DataFrames ini terdiri dari baris dan kolom, dan setiap kolom dapat memiliki tipe data yang berbeda.

## Creating and Manipulating DataFrames

In [1]:
import pandas as pd

# Membuat DataFrame dari dictionary
data = {'Nama': ['Andi', 'Budi', 'Cindy', 'Dewi'],
        'Nilai': [85, 90, 92, 88]}

df = pd.DataFrame(data)
print(df)

    Nama  Nilai
0   Andi     85
1   Budi     90
2  Cindy     92
3   Dewi     88

## Performing Basic Operations on DataFrames

In [3]:
# Membuat DataFrame
data = {'Nama': ['Andi', 'Budi', 'Cindy', 'Dewi'],
        'Nilai': [85, 90, 92, 88]}
df = pd.DataFrame(data)

# Menampilkan informasi umum tentang DataFrame
print(df.info())

# Menampilkan ringkasan statistik DataFrame
print(df.describe())

# Mengurutkan DataFrame berdasarkan kolom 'Nilai' secara menurun (Descending)
df_sorted = df.sort_values('Nilai', ascending=False)
print(df_sorted)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nama    4 non-null      object
 1   Nilai   4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes
None
           Nilai
count   4.000000
mean   88.750000
std     2.986079
min    85.000000
25%    87.250000
50%    89.000000
75%    90.500000
max    92.000000
    Nama  Nilai
2  Cindy     92
1   Budi     90
3   Dewi     88
0   Andi     85