# Data Manipulation with Pandas

## Filtering and selecting data

In [1]:
import pandas as pd

# Membuat DataFrame
data = {'Nama': ['Andi', 'Budi', 'Cindy', 'Dewi'],
        'Nilai': [85, 90, 92, 88],
        'Kelas': [10, 11, 10, 11]}

df = pd.DataFrame(data)

# Memfilter data berdasarkan kondisi
filtered_data = df[df['Nilai'] > 90]
print(filtered_data)

# Memilih kolom tertentu
selected_columns = df[['Nama', 'Kelas']]
print(selected_columns)

    Nama  Nilai  Kelas
2  Cindy     92     10
    Nama  Kelas
0   Andi     10
1   Budi     11
2  Cindy     10
3   Dewi     11

## Sorting and ranking data

In [2]:
# Membuat DataFrame
data = {'Nama': ['Andi', 'Budi', 'Cindy', 'Dewi'],
        'Nilai': [85, 90, 92, 88]}

df = pd.DataFrame(data)

# Mengurutkan DataFrame berdasarkan kolom 'Nilai' secara menaik
sorted_data = df.sort_values('Nilai')
print(sorted_data)

# Memberikan peringkat pada DataFrame berdasarkan kolom 'Nilai'
ranked_data = df['Nilai'].rank(ascending=False)
print(ranked_data)

    Nama  Nilai
0   Andi     85
3   Dewi     88
1   Budi     90
2  Cindy     92
0    4.0
1    2.0
2    1.0
3    3.0
Name: Nilai, dtype: float64

## Handling missing data in DataFrames

In [3]:
import pandas as pd

# Membuat DataFrame dengan data yang hilang
data = {'Nama': ['Andi', 'Budi', 'Cindy', 'Dewi'],
        'Nilai': [85, None, 92, 88]}

df = pd.DataFrame(data)

# Mengisi nilai yang hilang dengan nilai rata-rata
mean_value = df['Nilai'].mean()
df_filled = df.fillna(mean_value)
print(df_filled)

# Menghapus baris dengan nilai yang hilang
df_dropped = df.dropna()
print(df_dropped)

    Nama      Nilai
0   Andi  85.000000
1   Budi  88.333333
2  Cindy  92.000000
3   Dewi  88.000000
    Nama  Nilai
0   Andi   85.0
2  Cindy   92.0
3   Dewi   88.0

## Indexing Methods

In [4]:
import pandas as pd

# Membuat DataFrame
data = {'Nama': ['Andi', 'Budi', 'Cindy', 'Dewi'],
        'Nilai': [85, 90, 92, 88]}

df = pd.DataFrame(data)

# Indexing berbasis label
print(df.loc[1])  # Output: Nama: Budi, Nilai: 90

# Indexing berbasis indeks numerik
print(df.iloc[2] )  # Output: Nama: Cindy, Nilai: 92

Nama     Budi
Nilai      90
Name: 1, dtype: object
Nama     Cindy
Nilai       92
Name: 2, dtype: object

## Conditional Indexing

In [5]:
# Membuat DataFrame
data = {'Nama': ['Andi', 'Budi', 'Cindy', 'Dewi'],
        'Nilai': [85, 90, 92, 88]}

df = pd.DataFrame(data)

# Conditional indexing
filtered_data = df[df['Nilai'] > 90]
print(filtered_data)

    Nama  Nilai
2  Cindy     92

## Hierarchical Indexing (MultiIndex)

In [6]:
# Membuat DataFrame dengan MultiIndex
data = {'Nilai': [85, 90, 92, 88],
        'Kelas': [10, 11, 10, 11],
        'Subkelas': ['A', 'B', 'A', 'B']}

df = pd.DataFrame(data)
df.set_index(['Kelas', 'Subkelas'], inplace=True)
print(df)

                Nilai
Kelas Subkelas
10    A            85
11    B            90
10    A            92
11    B            88