# Variable
Variabel adalah lokasi penyimpanan yang diberi nama untuk menyimpan nilai dalam program.

In [1]:
# variabel dengan tipe data integer
umur = 25
# variabel dengan tipe data string
nama = "John Doe"
# variabel dengan tipe data float
tinggi = 175.2
# variabel dengan tipe data boolean
is_member = True

In [9]:
print(umur)
# umur

print(nama)
# nama

print(tinggi)
# tinggi

print(is_member)
# is_member

25
John Doe
175.2
True

# Assignment Variable
Menggunakan tanda sama dengan (=) untuk melakukan assignment suatu nilai ke dalam variabel.

In [3]:
x = 10
y = "Halo"
z = 3.14

# Collection

## List

In [10]:
# contoh assignment variabel dalam bentuk list

# membuat list yang berisikan beberapa data
list1 = [1, 2, "home", True]

# membuat list kosong
list2 = []

# alternatif cara untuk membuat list
list3 = list((1, 2, 3))

print(list1)
print(list2)
print(list3)

[1, 2, 'home', True]
[]
[1, 2, 3]

In [14]:
# pemanggilan data pada indeks tertentu
print(list1[0])
# print(list1[1])

# pemanggilan data pada indeks negatif
# print(list1[-1])
print(list1[-2])

# pemanggilan data pada range indeks tertentu (slicing)
print(list1[1:3])

# assignment suatu data ke indeks tertentu
list1[0] = 12
print(list1)

# menambahkan data dengan method append
list2.append(2)
print(list2)

12
home
[2, 'home']
[12, 2, 'home', True]
[2, 2, 2, 2]

In [15]:
list2.append(2)
list2

[2, 2, 2, 2, 2]

## Tuple

In [16]:
# contoh assignment variabel dalam bentuk tuple

# membuat tuple yang berisikan beberapa data
tuple1 = (1, 2, "home", True)

# membuat tuple kosong
tuple2 = ()

# alternatif cara untuk membuat tuple
tuple3 = tuple((1, 2, 4, 12, "hi"))

print(tuple1)
print(tuple2)
print(tuple3)

(1, 2, 'home', True)
()
(1, 2, 4, 12, 'hi')

In [18]:
# pemanggilan data pada indeks tertentu
print(tuple1[0])

# pemanggilan data pada indeks negatif
print(tuple1[-1])

# pemanggilan data pada range indeks tertentu (slicing)
print(tuple1[1:3])

# kode di bawah akan error, karena tuple bersifat immutable
# tuple1[0] = 12
# print(tuple1)

1
True
(2, 'home')

## Set

In [20]:
# contoh assignment variabel dalam bentuk set

# membuat set yang berisikan beberapa data
set1 = {1, 2, 3, "ini set", "hi"}

# alternatif cara untuk membuat set
set2 = {1, 8, "python", 7}

print(set1)
print(set2)

{'ini set', 1, 2, 3, 'hi'}
{8, 1, 'python', 7}

In [21]:
# set bersifat onordered sehingga tidak memiliki indeks untuk setiap elemen di dalamnya
print(set1[1])

TypeError: 'set' object is not subscriptable

In [22]:
set1 = {1, 1, 3, "ini set", "hi"}

set1

{1, 3, 'hi', 'ini set'}

## Dictionary

In [30]:
# contoh assignment variabel dalam bentuk dictionary

# membuat dictionary yang berisikan beberapa data
dict1 = {"nama" : "jojon", "umur" : 30}

# membuat dictionary kosong
dict2 = {}

# alternatif cara untuk membuat dictionary
dict3 = dict({1:"apple",2:"cherry",3:"strawberry"})

print(dict1)
print(dict2)
print(dict3)

{'nama': 'jojon', 'umur': 30}
{}
{1: 'apple', 2: 'cherry', 3: 'strawberry'}

In [27]:
# melakukan print semua keys
print(dict1.keys())

# melakukan print semua values
print(dict1.values())

# assignment suatu nilai ke key tertentu
dict1["key1"]="replace_one"
print(dict1)

dict_keys(['name', 'umur'])
dict_values(['john doe', 30])
{'name': 'john doe', 'umur': 30, 'key1': 'replace_one'}

In [31]:
# assignment suatu nilai ke key tertentu
dict1["nama"]="john doe"

dict1

{'nama': 'john doe', 'umur': 30}